/* src/pages/Post/PostPage.module.scss */
.postContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postDetails {
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: left;
}

.commentsSection {
  width: 90%;
  max-width: 600px;
}

.newComment {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.commentButton {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #ffffff;
  padding: 0.75rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}
